<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzu.translate.dao.RewardUserMapper">
  <resultMap id="BaseResultMap" type="com.hzu.translate.entity.RewardUser">
    <constructor>
      <idArg column="user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <idArg column="reward_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="is_get" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_attention" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_adopt" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_Submission" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sort_order" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="translation_file" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hzu.translate.entity.RewardUser">
    <constructor>
      <idArg column="user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <idArg column="reward_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="is_get" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_attention" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_adopt" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_Submission" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sort_order" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="translation_file" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="translation" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>

  <resultMap id="RewardTranslationResultMap" type="com.hzu.translate.vo.RewardTranslationVo">
    <result column="user_id" javaType="java.lang.String" jdbcType="VARCHAR" property="userId"/>
    <result column="reward_id" javaType="java.lang.Long" jdbcType="BIGINT" property="rewardId" />
    <result column="user_name" javaType="java.lang.String" jdbcType="VARCHAR" property="userName" />
    <result column="translation_file" javaType="java.lang.String" jdbcType="VARCHAR" property="translationFile" />
    <result column="translation" javaType="java.lang.String" jdbcType="LONGVARCHAR"  property="translation"/>
  </resultMap>


  <sql id="Base_Column_List">
    user_id, reward_id, is_get, is_attention, is_adopt, is_Submission, sort_order, translation_file
  </sql>
  <sql id="Blob_Column_List">
    translation
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.hzu.translate.entity.RewardUserKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from trans_reward_user
    where user_id = #{userId,jdbcType=VARCHAR}
      and reward_id = #{rewardId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.hzu.translate.entity.RewardUserKey">
    delete from trans_reward_user
    where user_id = #{userId,jdbcType=VARCHAR}
      and reward_id = #{rewardId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hzu.translate.entity.RewardUser">
    insert into trans_reward_user (user_id, reward_id, is_get, 
      is_attention, is_adopt, is_Submission, 
      sort_order, translation_file, translation
      )
    values (#{userId,jdbcType=VARCHAR}, #{rewardId,jdbcType=BIGINT}, #{isGet,jdbcType=INTEGER},
      #{isAttention,jdbcType=INTEGER}, #{isAdopt,jdbcType=INTEGER}, #{isSubmission,jdbcType=INTEGER}, 
      #{sortOrder,jdbcType=INTEGER}, #{translationFile,jdbcType=VARCHAR}, #{translation,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hzu.translate.entity.RewardUser">
    insert into trans_reward_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="rewardId != null">
        reward_id,
      </if>
      <if test="isGet != null">
        is_get,
      </if>
      <if test="isAttention != null">
        is_attention,
      </if>
      <if test="isAdopt != null">
        is_adopt,
      </if>
      <if test="isSubmission != null">
        is_Submission,
      </if>
      <if test="sortOrder != null">
        sort_order,
      </if>
      <if test="translationFile != null">
        translation_file,
      </if>
      <if test="translation != null">
        translation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="rewardId != null">
        #{rewardId,jdbcType=BIGINT},
      </if>
      <if test="isGet != null">
        #{isGet,jdbcType=INTEGER},
      </if>
      <if test="isAttention != null">
        #{isAttention,jdbcType=INTEGER},
      </if>
      <if test="isAdopt != null">
        #{isAdopt,jdbcType=INTEGER},
      </if>
      <if test="isSubmission != null">
        #{isSubmission,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="translationFile != null">
        #{translationFile,jdbcType=VARCHAR},
      </if>
      <if test="translation != null">
        #{translation,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzu.translate.entity.RewardUser">
    update trans_reward_user
    <set>
      <if test="isGet != null">
        is_get = #{isGet,jdbcType=INTEGER},
      </if>
      <if test="isAttention != null">
        is_attention = #{isAttention,jdbcType=INTEGER},
      </if>
      <if test="isAdopt != null">
        is_adopt = #{isAdopt,jdbcType=INTEGER},
      </if>
      <if test="isSubmission != null">
        is_Submission = #{isSubmission,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="translationFile != null">
        translation_file = #{translationFile,jdbcType=VARCHAR},
      </if>
      <if test="translation != null">
        translation = #{translation,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
      and reward_id = #{rewardId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hzu.translate.entity.RewardUser">
    update trans_reward_user
    set is_get = #{isGet,jdbcType=INTEGER},
      is_attention = #{isAttention,jdbcType=INTEGER},
      is_adopt = #{isAdopt,jdbcType=INTEGER},
      is_Submission = #{isSubmission,jdbcType=INTEGER},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      translation_file = #{translationFile,jdbcType=VARCHAR},
      translation = #{translation,jdbcType=LONGVARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
      and reward_id = #{rewardId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzu.translate.entity.RewardUser">
    update trans_reward_user
    set is_get = #{isGet,jdbcType=INTEGER},
      is_attention = #{isAttention,jdbcType=INTEGER},
      is_adopt = #{isAdopt,jdbcType=INTEGER},
      is_Submission = #{isSubmission,jdbcType=INTEGER},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      translation_file = #{translationFile,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
      and reward_id = #{rewardId,jdbcType=BIGINT}
  </update>
  <select id="findRewardUserById" parameterType="String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from trans_reward_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="selectRewardTranslation" parameterType="long" resultMap="RewardTranslationResultMap">
    SELECT r.user_id, r.reward_id,u.user_name,r.translation_file,r.translation
    FROM trans_user u,trans_reward_user r
    WHERE u.id = r.user_id AND r.reward_id = #{rewardId,jdbcType=BIGINT} AND r.is_Submission = 1
  </select>

  <select id="selectGetNumber" parameterType="long" resultType="int">
    SELECT count(1)
    FROM trans_reward_user
    WHERE reward_id = #{rewardId,jdbcType=BIGINT}
  </select>
</mapper>